<header>
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/images/logo.png" alt="{{ site.title }} Logo">
  </a>
  <h1>{{ site.title }}</h1>
  <!-- MAIN MENU -->
<div id="mainMenu" class="main-menu">
  <ul id="autoNav" class="main-nav">
    <li>
      <a href="{{ site.baseurl }}/about/">about</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/contact/">contact</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/shop/">shop</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/games/">games</a>
    </li>
    <li id="autoNavMore" class="auto-nav-more">
      <a href="#" class="more-btn">more</a>
      <ul id="autoNavMoreList" class="auto-nav-more-list">
        <li>
          <a href="{{ site.baseurl }}/donate/">donate</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
    </ul>
  </nav>
   

</header>
