<header>
<div class="logo">
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="{{ site.title }} Logo">
  </a>
</div>

  <nav>
  <!-- MAIN MENU -->
<div id="mainMenu" class="main-menu">
  <ul id="autoNav" class="main-nav">
    <li>
      <a href="{{ site.baseurl }}/about/">About</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/contact/">Contact</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/shop/">Shop</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/arcade/">Arcade</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/hub/">Hub</a>
    </li>
    <li id="autoNavMore" class="auto-nav-more">
      <a href="#" class="more-btn">More</a>
      <ul id="autoNavMoreList" class="auto-nav-more-list">
        <li>
          <a href="{{ site.baseurl }}/donate/">Donate</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
    </ul>
  </nav>

      <div class="background-container" id="backgroundContainer">
        <div class="shape-overlay" id="shapeOverlay"></div>
    </div>

</header>

<!-- Background photo section -->
<section class="background-photo">
</section>
